* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: aquamarine;
}

a {
  text-decoration: none;
  color: black;
}

video {
  width: 300px;
  height: auto;
  border: 5px solid red;
}

img {
  width: 200px;
  height: 500px;
}

.hidden {
  display: none;
}

/* Navbar */
.navbar {
  background-color: beige;
  padding: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 10px;
}

/* Cards */
.container{
  border: 3px solid black;
  background-color: blanchedalmond;
  height: 250px;
  margin: 5px;
  margin-top: 20px;
}

.info{
  background-color: black;
  color: white;
  border-radius: 5px;
}

/* Tables */

.anime {
  margin: 0 auto;
  border: 3px solid rgb(228, 124, 124);
}

.item {
  border: 1px solid black;
}

@media only screen and (max-width: 400px) {

}